
@BLUE100: #BBDEFB;
@BLUE300: #64B5F6;
@BLUE500: #2196F3;

@ORANGEACCENT1: #FF6E40;
@ORANGEACCENT2: #FF3D00;

@GREY: #757575;

.fontStyle{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.font700{
  font-weight: 700 !important;
}

* {
  .fontStyle;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}

.scrollable{
  min-height: 500px !important;
}

.materialShadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.materialShadowDarker{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.38) !important;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.38) !important;
}

.parentCenter{
  height: 100% !important;
  display: table;
  width: 100%;
}

.childCenter{
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}

*{
  //border: solid 1px red !important;
}

/*============================================ NAVIGATION.PHP =====================================*/

.navButton{
  .materialShadow;

  height: 36px;
  width: 36px;
  border: 2px solid @ORANGEACCENT1;
  font-size: 20px;
  border-radius: 50%;
  color: white;
  transition: all 0.5s;
  background-color: @ORANGEACCENT1;
  cursor: pointer;
  z-index: 9999 !important;
  position: fixed;
  left: 10px;

  &:hover{
    background-color: @ORANGEACCENT2;
    border: 2px solid @ORANGEACCENT2;

  }
}

#navigation-left{
  .navButton;
  top: 90%;
  left: 10%;
  padding: 5px 9px;
}

#navigation-right{
  .navButton;
  top: 90%;
  left: 90%;
  padding: 5px 11px;
}

#direction-tooltip{
  .materialShadow;
  background-color: @ORANGEACCENT1;
  z-index: 10;
  cursor: pointer;
  color: white;
  position: absolute;
  top: 91%;
  padding: 5px;
  opacity: 0.9;
  display: none;
}
/*============================================ TRAINCAR.PHP =====================================*/


.traincar-car{
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
}

.traincar-active{
  display: block !important;
}

//============================================ TRAINCAR #0 (HEX)

#car-0{
  #svgHex{
    height: 99% !important;
  }
}

//============================================ TRAINCAR #1 (ABOUT ME)

#car-1{
  .scrollable;

  width: 100%;
  background-color: white;
  color: @BLUE500;
  font-size: 2.8em;

  .card{
    .materialShadow;
    width: 60%;
    height: 100%;
    z-index: 2;
    position: relative;
  }
  .content-block{
    padding-top: 15%;
    width: 100%;
  }

  .cycleWords{
    margin-left: 12% !important;
    margin-bottom: 50px;
  }

  #wii{
    font-size: 15px !important;
    position: absolute;
    width: 100%;
    left: 15%;
  }

  .backgroundRight{
    width: 40%;
    height: 100%;
    position: absolute;
    left: 60%;
    top: 0;
    z-index: 0;
    background-color: @BLUE100;
  }
}

//============================================ TRAINCAR #2 (INFORMATION)

#car-2{
  .scrollable;

  width: 100%;
  background-color: white;
  color: @BLUE500;

  .infoDataTitle-active{
    .materialShadowDarker;
  }

  // CARD SELECTION
  .card{
    .materialShadow;

    width: 70%;
    height: 100%;
    z-index: 2;
    position: absolute;
    left: 30% !important;
    background-color: white !important;

    .infoCardTitleContainer{
      height: inherit;
    }

    .infoCardTitle{
      .materialShadow;
      cursor: pointer;

      &:hover{
        .materialShadowDarker;
      }

      position: relative;
      z-index: 5;
      width: 90%;
      height: 25%;

      .mainImage{
        width: 40%;
      }

      .thirdsRow{
        padding-left: 3%;
        padding-right: 5%;

        height: 100% !important;

        .col-xs-4{
          height: 100% !important;
        }

        img{
          width: 70%;
        }
      }
    }

    #card-0{
      padding:auto;
    }

    #card-3{
      font-size: 4em;
    }
  }


  // INFO CARDS
  .infoCard {
    .materialShadow;
    background-color: white;
    position: absolute;
    z-index: 5;
    width: 28%;
    height: 98%;

    left: 1%;
    top: 1%;
    padding: 2%;

    overflow-y: scroll !important;

    .context{
      font-weight: 700;
      margin-top: 20px;
      font-size: 1.3em !important;
    }
  }


  .info1{
    img{
      width: 50% !important;
    }

    .leftPadding{
      padding-left: 30%;
    }
  }

  .info2{
    .mainImage{
      width: 100%;
    }
  }

  .info3{
    img{
      width: 100% !important;
    }

    .description{
      margin-top: 15px;
      margin-bottom: 15px;
    }

    .description-top{
      margin-bottom: 15px;
    }

    .smaller{
      font-size: 0.7em;
    }

    #togglePlay{
      cursor: pointer !important;
      margin-left: 15px;
    }
  }


  .backgroundLeft{
    width: 30%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    background-color: @BLUE100;
  }

  .backgroundRight2{
    .materialShadow;

    width: 10%;
    height: 100%;
    position: absolute;
    left: 90%;
    top: 0;
    z-index: 3;
    background-color: @BLUE300;
  }
}


//============================================ TRAINCAR #3 (CONNECT)

#car-3{
  .scrollable;

  width: 100%;
  background-color: white;
  font-size: 5em;

  .content-block{
    color: @BLUE500 !important;
    position: relative;
    z-index: 2;
    margin-top: 10%;
  }

  i {
    cursor: pointer;
  }

  .icons{
    margin-top: 40px;
  }

  a{
    text-decoration: none !important;
    color: @BLUE500 !important;
  }

  #currentLink{
    font-size: 20px !important;
    cursor: pointer;
  }
  .smokeContainer{
    .smoke{
      position: absolute;
      z-index: 999;
      display: block;
      height: 8px;
      width: 8px;
      border: 15px solid @GREY;
      border-radius: 15px;
      opacity: 0;
    }

    @keyframes smokeFade1 {
      1% { opacity: 0; transform: scale(0) }
      50% { opacity: 0.8; transform: scale(1) }
      100% { opacity: 0; transform: scale(0.7) }
    }

    @keyframes smokeFade2 {
      1% { opacity: 0; transform: scale(0) }
      50% { opacity: 0.8; transform: scale(0.8) }
      100% { opacity: 0; transform: scale(0.5) }
    }

    @keyframes smokeFade3 {
      1% { opacity: 0; transform: scale(0) }
      50% { opacity: 0.8; transform: scale(0.5) }
      100% { opacity: 0; transform: scale(0.3) }
    }

    #smoke1 {
      .materialShadow;
      animation-name: smokeFade1;
      animation-duration: 6s;
      animation-delay: 1s;
      animation-iteration-count: infinite;
    }

    #smoke2 {
      .materialShadow;
      animation-name: smokeFade2;
      animation-duration: 6s;
      animation-delay: 3s;
      animation-iteration-count: infinite;
    }

    #smoke3 {
      .materialShadow;
      animation-name: smokeFade3;
      animation-duration: 6s;
      animation-delay: 5s;
      animation-iteration-count: infinite;
    }
  }

  .backgroundLeft2{
    .materialShadow;
    width: 25%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    background-color: @BLUE300;

  }
}
