.adamina {
  font-family: 'Adamina', serif;
}
* {
  overflow-x: hidden;
  overflow-y: hidden;
}
.cardShadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/*============================================ NAVIGATION.PHP =====================================*/
.navButton {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 36px;
  width: 36px;
  border: 2px solid #F44336;
  font-size: 27px;
  border-radius: 50%;
  color: white;
  transition: all 0.5s;
  background-color: #F44336;
  cursor: pointer;
  z-index: 9999 !important;
  position: fixed;
  left: 10px;
}
.navButton:hover {
  background-color: #f66358;
  border: 2px solid #f66358;
}
#navigation-left {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 36px;
  width: 36px;
  border: 2px solid #F44336;
  font-size: 27px;
  border-radius: 50%;
  color: white;
  transition: all 0.5s;
  background-color: #F44336;
  cursor: pointer;
  z-index: 9999 !important;
  position: fixed;
  left: 10px;
  top: 90%;
  left: 10%;
  padding: 2px 6px;
}
#navigation-left:hover {
  background-color: #f66358;
  border: 2px solid #f66358;
}
#navigation-right {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 36px;
  width: 36px;
  border: 2px solid #F44336;
  font-size: 27px;
  border-radius: 50%;
  color: white;
  transition: all 0.5s;
  background-color: #F44336;
  cursor: pointer;
  z-index: 9999 !important;
  position: fixed;
  left: 10px;
  top: 90%;
  left: 90%;
  padding: 2px 9px;
}
#navigation-right:hover {
  background-color: #f66358;
  border: 2px solid #f66358;
}
/*============================================ TRAINCAR.PHP =====================================*/
.traincar-car {
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
}
.traincar-active {
  display: block !important;
}
#car-1 {
  width: 100%;
  font-family: 'Adamina', serif;
  background-color: white;
  color: #F44336;
  font-size: 2.2em;
}
#car-1 .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 60%;
  height: 100%;
  z-index: 2;
  position: relative;
}
#car-1 .content-block {
  margin-top: 10%;
  width: 100%;
}
#car-1 .cycleWords {
  margin-left: 12% !important;
  margin-bottom: 50px;
}
#car-1 #wii {
  font-size: 15px !important;
  position: absolute;
  width: 100%;
  left: 15%;
}
#car-1 .backgroundLeft {
  width: 100vh;
  height: 100vh;
  position: absolute;
  left: 60%;
  top: 0;
  z-index: 0;
  background-color: #FFCDD2;
}
#car-2 {
  width: 100%;
  font-family: 'Adamina', serif;
  background-color: white;
  color: #F44336;
}
#car-2 .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 60%;
  height: 100%;
  z-index: 2;
  position: absolute;
  left: 40% !important;
  background-color: white !important;
}
#car-2 .backgroundRight {
  width: 100vh;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  background-color: #FFCDD2;
}
/*
#car-2{

  .informationContainer {
    height: 100vh;
    background-color: #1b6d85;

    .centerContainer{
      display: table;
      height: inherit;
    }

    .centerElement{
      display: table-cell;
      vertical-align: middle;
    }

    .containerRight{
      height: inherit;
      width: 40%;
      margin-right: 5% !important;
      margin-left: 2.5% !important;
      background-color: #5bc0de !important;
    }

    .containerLeft{
      height: inherit;
      width: 40%;
      margin-left: 5% !important;
      margin-right: 2.5% !important;
      background-color: #5bc0de !important;
    }

  }

}
*/
#car-3 {
  width: 100%;
  font-family: 'Adamina', serif;
  background-color: white;
  color: #F44336;
  font-size: 5em;
}
#car-3 .content-block {
  margin-top: 10%;
}
#car-3 i {
  cursor: pointer;
}
#car-3 .icons {
  margin-top: 40px;
}
#car-3 a {
  text-decoration: none !important;
  color: #F44336 !important;
}
#car-3 #currentLink {
  font-size: 20px !important;
  cursor: pointer;
}
#car-3 .smokeContainer .smoke {
  position: absolute;
  z-index: 3;
  display: block;
  height: 8px;
  width: 8px;
  border: 15px solid #757575;
  border-radius: 15px;
  opacity: 0;
}
@keyframes smokeFade1 {
  1% {
    opacity: 0;
    transform: scale(0);
  }
  50% {
    opacity: 0.8;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.7);
  }
}
@keyframes smokeFade2 {
  1% {
    opacity: 0;
    transform: scale(0);
  }
  50% {
    opacity: 0.8;
    transform: scale(0.8);
  }
  100% {
    opacity: 0;
    transform: scale(0.5);
  }
}
@keyframes smokeFade3 {
  1% {
    opacity: 0;
    transform: scale(0);
  }
  50% {
    opacity: 0.8;
    transform: scale(0.5);
  }
  100% {
    opacity: 0;
    transform: scale(0.3);
  }
}
#car-3 .smokeContainer #smoke1 {
  animation-name: smokeFade1;
  animation-duration: 6s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
}
#car-3 .smokeContainer #smoke2 {
  animation-name: smokeFade2;
  animation-duration: 6s;
  animation-delay: 3s;
  animation-iteration-count: infinite;
}
#car-3 .smokeContainer #smoke3 {
  animation-name: smokeFade3;
  animation-duration: 6s;
  animation-delay: 5s;
  animation-iteration-count: infinite;
}
