.fontStyle {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
* {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}
.scrollable {
  min-height: 500px !important;
}
.materialShadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.materialShadowDarker {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.38);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.38);
}
.parentCenter {
  height: 100% !important;
  display: table;
  width: 100%;
}
.childCenter {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}
/*============================================ NAVIGATION.PHP =====================================*/
.navButton {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 36px;
  width: 36px;
  border: 2px solid #FF6E40;
  font-size: 20px;
  border-radius: 50%;
  color: white;
  transition: all 0.5s;
  background-color: #FF6E40;
  cursor: pointer;
  z-index: 9999 !important;
  position: fixed;
  left: 10px;
}
.navButton:hover {
  background-color: #FF3D00;
  border: 2px solid #FF3D00;
}
#navigation-left {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 36px;
  width: 36px;
  border: 2px solid #FF6E40;
  font-size: 20px;
  border-radius: 50%;
  color: white;
  transition: all 0.5s;
  background-color: #FF6E40;
  cursor: pointer;
  z-index: 9999 !important;
  position: fixed;
  left: 10px;
  top: 90%;
  left: 10%;
  padding: 5px 9px;
}
#navigation-left:hover {
  background-color: #FF3D00;
  border: 2px solid #FF3D00;
}
#navigation-right {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 36px;
  width: 36px;
  border: 2px solid #FF6E40;
  font-size: 20px;
  border-radius: 50%;
  color: white;
  transition: all 0.5s;
  background-color: #FF6E40;
  cursor: pointer;
  z-index: 9999 !important;
  position: fixed;
  left: 10px;
  top: 90%;
  left: 90%;
  padding: 5px 11px;
}
#navigation-right:hover {
  background-color: #FF3D00;
  border: 2px solid #FF3D00;
}
#direction-tooltip {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #FF6E40;
  z-index: 10;
  cursor: pointer;
  color: white;
  position: absolute;
  top: 91%;
  padding: 5px;
  opacity: 0.9;
  display: none;
}
/*============================================ TRAINCAR.PHP =====================================*/
.traincar-car {
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
}
.traincar-active {
  display: block !important;
}
#car-0 #svgHex {
  height: 99% !important;
}
#car-1 {
  min-height: 500px !important;
  width: 100%;
  background-color: white;
  color: #2196F3;
  font-size: 2.8em;
}
#car-1 .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 60%;
  height: 100%;
  z-index: 2;
  position: relative;
}
#car-1 .content-block {
  padding-top: 15%;
  width: 100%;
}
#car-1 .cycleWords {
  margin-left: 12% !important;
  margin-bottom: 50px;
}
#car-1 #wii {
  font-size: 15px !important;
  position: absolute;
  width: 100%;
  left: 15%;
}
#car-1 .backgroundRight {
  width: 40%;
  height: 100%;
  position: absolute;
  left: 60%;
  top: 0;
  z-index: 0;
  background-color: #BBDEFB;
}
#car-2 {
  min-height: 500px !important;
  width: 100%;
  background-color: white;
  color: #2196F3;
}
#car-2 .card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 70%;
  height: 100%;
  z-index: 2;
  position: absolute;
  left: 30% !important;
  background-color: white !important;
}
#car-2 .card .infoCardTitleContainer {
  height: inherit;
}
#car-2 .card .infoCardTitle {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  position: relative;
  z-index: 5;
  width: 90%;
  height: 20%;
}
#car-2 .card .infoCardTitle:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.38);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.38);
}
#car-2 .card .infoCardTitle .mainImage {
  width: 40%;
}
#car-2 .card .infoCardTitle .thirdsRow {
  padding-left: 3%;
  padding-right: 3%;
  height: 100% !important;
}
#car-2 .card .infoCardTitle .thirdsRow .col-xs-4 {
  height: 100% !important;
}
#car-2 .card .infoCardTitle .thirdsRow img {
  width: 70%;
}
#car-2 .card #card-0 {
  padding: auto;
}
#car-2 .infoCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
  position: absolute;
  z-index: 5;
  width: 28%;
  height: 98%;
  left: 1%;
  top: 1%;
  padding: 2%;
  overflow-y: scroll !important;
}
#car-2 .infoCard .context {
  font-weight: 700;
  margin-top: 20px;
  font-size: 1.3em !important;
}
#car-2 .info1 img {
  width: 50% !important;
}
#car-2 .info1 .leftPadding {
  padding-left: 30%;
}
#car-2 .backgroundLeft {
  width: 30%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  background-color: #BBDEFB;
}
#car-2 .backgroundRight2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 10%;
  height: 100%;
  position: absolute;
  left: 90%;
  top: 0;
  z-index: 3;
  background-color: #64B5F6;
}
#car-3 {
  min-height: 500px !important;
  width: 100%;
  background-color: white;
  font-size: 5em;
}
#car-3 .content-block {
  color: #2196F3 !important;
  position: relative;
  z-index: 2;
  margin-top: 10%;
}
#car-3 i {
  cursor: pointer;
}
#car-3 .icons {
  margin-top: 40px;
}
#car-3 a {
  text-decoration: none !important;
  color: #2196F3 !important;
}
#car-3 #currentLink {
  font-size: 20px !important;
  cursor: pointer;
}
#car-3 .smokeContainer .smoke {
  position: absolute;
  z-index: 999;
  display: block;
  height: 8px;
  width: 8px;
  border: 15px solid #757575;
  border-radius: 15px;
  opacity: 0;
}
@keyframes smokeFade1 {
  1% {
    opacity: 0;
    transform: scale(0);
  }
  50% {
    opacity: 0.8;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.7);
  }
}
@keyframes smokeFade2 {
  1% {
    opacity: 0;
    transform: scale(0);
  }
  50% {
    opacity: 0.8;
    transform: scale(0.8);
  }
  100% {
    opacity: 0;
    transform: scale(0.5);
  }
}
@keyframes smokeFade3 {
  1% {
    opacity: 0;
    transform: scale(0);
  }
  50% {
    opacity: 0.8;
    transform: scale(0.5);
  }
  100% {
    opacity: 0;
    transform: scale(0.3);
  }
}
#car-3 .smokeContainer #smoke1 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: smokeFade1;
  animation-duration: 6s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
}
#car-3 .smokeContainer #smoke2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: smokeFade2;
  animation-duration: 6s;
  animation-delay: 3s;
  animation-iteration-count: infinite;
}
#car-3 .smokeContainer #smoke3 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: smokeFade3;
  animation-duration: 6s;
  animation-delay: 5s;
  animation-iteration-count: infinite;
}
#car-3 .backgroundLeft2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 25%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  background-color: #64B5F6;
}
