
@RED: #F44336;
@HOVERRED: lighten(@RED, 7%);
@LIGHTRED: #FFCDD2;
@PURPLE: #9C27B0;
@GREY: #757575;

.adamina{
  font-family: 'Adamina', serif;
}

*{
  overflow-x: hidden;
  overflow-y: hidden;
}

.cardShadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

html {
  min-width: 600px !important;
}

*{
  //border: solid 1px red !important;
}

/*============================================ NAVIGATION.PHP =====================================*/

.navButton{
  .cardShadow;

  height: 36px;
  width: 36px;
  border: 2px solid @RED;
  font-size: 27px;
  border-radius: 50%;
  color: white;
  transition: all 0.5s;
  background-color: @RED;
  cursor: pointer;
  z-index: 9999 !important;
  position: fixed;
  left: 10px;

  &:hover{
    background-color: @HOVERRED;
    border: 2px solid @HOVERRED;

  }
}

#navigation-left{
  .navButton;
  top: 90%;
  left: 10%;
  padding: 2px 6px;
}

#navigation-right{
  .navButton;
  top: 90%;
  left: 90%;
  padding: 2px 9px;
}

/*============================================ TRAINCAR.PHP =====================================*/


.traincar-car{
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
}

.traincar-active{
  display: block !important;
}

//============================================ TRAINCAR #0 (HEX)

#car-0{

}

//============================================ TRAINCAR #1 (ABOUT ME)

#car-1{
  width: 100%;
  .adamina;
  background-color: white;
  color: @RED;
  font-size: 2.2em;

  .card{
    .cardShadow;
    width: 60%;
    height: 100%;
    z-index: 2;
    position: relative;
  }
  .content-block{
    margin-top: 10%;
    width: 100%;
  }

  .cycleWords{
    margin-left: 12% !important;
    margin-bottom: 50px;
  }

  #wii{
    font-size: 15px !important;
    position: absolute;
    width: 100%;
    left: 15%;
  }

  .backgroundLeft{
    width: 100vh;
    height: 100vh;
    position: absolute;
    left: 60%;
    top: 0;
    z-index: 0;
    background-color: @LIGHTRED;
  }
}

//============================================ TRAINCAR #2 (INFORMATION)


#car-2{
  width: 100%;
  .adamina;
  background-color: white;
  color: @RED;

  .card{
    .cardShadow;
    width: 70%;
    height: 100%;
    z-index: 2;
    position: absolute;
    left: 30% !important;
    background-color: white !important;
    //
    .infoCardContainer{
      height: inherit;
    //
    //  .infoRow{
    //    display: table;
    //    vertical-align: middle;
    //    height: inherit;
    //
    //    div{
    //      display: table-cell;
    //    }
    //
    //  }

      //.topRow {
      //  margin-top: 50vh !important;
      //}


    }

    .row{
      margin-left: 2vh;
      margin-top: 5vh;
      height: 37vh !important;
    }
    .infoCard{
      .cardShadow;
      //border: 1px solid black;
      width: 20%;
      margin: 2%;
      height: 30vh !important;
      //margin-top: 4vh !important;
      //margin-left: 3% !important;
      //margin: 2vh;
      //width: 20vh !important;
    }

    //.infoCardTop{
    //  .infoCard;
    //  margin-top: 10vh;
    //}
    //
    //.infoCardBottom{
    //  .infoCard;
    //  margin-top: 10vh;
    //}

  }

  .backgroundRight{
    width: 100vh;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    background-color: @LIGHTRED;
  }
}


//============================================ TRAINCAR #3 (CONNECT)

#car-3{
  width: 100%;
  .adamina;
  background-color: white;
  color: @RED;
  font-size: 5em;

  .content-block{
    margin-top: 10%;
  }

  i {
    cursor: pointer;
  }

  .icons{
    margin-top: 40px;
  }

  a{
    text-decoration: none !important;
    color: @RED !important;
  }

  #currentLink{
    font-size: 20px !important;
    cursor: pointer;
  }
  .smokeContainer{
    .smoke{
      position: absolute;
      z-index: 3;
      display: block;
      height: 8px;
      width: 8px;
      border: 15px solid @GREY;
      border-radius: 15px;
      opacity: 0;
    }

    @keyframes smokeFade1 {
      1% { opacity: 0; transform: scale(0) }
      50% { opacity: 0.8; transform: scale(1) }
      100% { opacity: 0; transform: scale(0.7) }
    }

    @keyframes smokeFade2 {
      1% { opacity: 0; transform: scale(0) }
      50% { opacity: 0.8; transform: scale(0.8) }
      100% { opacity: 0; transform: scale(0.5) }
    }

    @keyframes smokeFade3 {
      1% { opacity: 0; transform: scale(0) }
      50% { opacity: 0.8; transform: scale(0.5) }
      100% { opacity: 0; transform: scale(0.3) }
    }

    #smoke1 {
      animation-name: smokeFade1;
      animation-duration: 6s;
      animation-delay: 1s;
      animation-iteration-count: infinite;
    }

    #smoke2 {
      animation-name: smokeFade2;
      animation-duration: 6s;
      animation-delay: 3s;
      animation-iteration-count: infinite;
    }

    #smoke3 {
      animation-name: smokeFade3;
      animation-duration: 6s;
      animation-delay: 5s;
      animation-iteration-count: infinite;
    }
  }
}
